.header-thing {
    background-color: rgb(230 177 27);
    padding: 15px 0px 15px 0px;
}

.header-others {
    padding-left: 20px;
}

    .header-others ul li {
        padding-left: 5px;
        padding-right: 5px;
    }

.logo {
    font-size: x-large;
    padding-left: 12px;
}



.main-container {
    margin-top:100px;
}
