.main-container{
    margin-left:20px;
    padding: 5px 5px 5px 5px;
    margin-left:25px;   
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.p-each-div{
    display:inline;
    margin:5px 0px 5px 15px;
    width:100%;
}

.ptbox{
    width: 350px;
    margin-bottom:15px;
    margin-left: 15px;
}

.plabel{
    width:120px;
}

.fetch-grp{
    display:flex;
    vertical-align:auto;
}

.fetch-bt{
    height:38px;
    margin-left: 20px;
}

.drug-grp {
    display: flex;
    align-items:center;
}

.btns{
    display: flex;
    align-items:center;
    margin-left: 145px;
    padding-top:10px;
    padding-bottom: 15px;
}

.bill-btn{
    margin-left: 20px;
}

.bill-btn-bill{
    margin-left:242px;
    padding:6px 15px 6px 15px;
}

.p-each-div {
    display: inline-flex;
    flex-direction: row;
}

.grid{
    margin-left:220px;
}